@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background: rgb(1, 1, 1);
  position: sticky;
  top: 0;
  cursor: pointer;
}
.nav-list {
  display: flex;
  flex-direction: row;
  transition: all 0.7s ease-in-out;
}

.nav-list li {
  margin: 0px 15px;
  list-style: none;
}

.nav-list li a {
  text-decoration: none;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
  color: antiquewhite;
}
.logo {
  margin: 5px 0px 0px 10px;

  img {
    width: 80px;
    height: 60px;
  }
}
.right-nav {
  margin-right: 10px;
}
.btn {
  cursor: pointer;
  width: 100px;
  height: 30px;
  background: transparent;
  border: 2px solid white;
  color: antiquewhite;
  border-radius: 5px;
}
.box-main {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  margin: auto;
}
.background {
  background: url(./img/pexels-sebastiaan-stam-1097456.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.firstHalf {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: aliceblue;
}

.secondHalf {
  width: 30%;
}
.big-text {
  font-size: 2em;
  font-family: 'Ubuntu', sans-serif;
}
.small-text {
  font-size: 1.1em;
  margin: 10px 0px;
  margin-right: 5px;
  font-family: 'Oswald', sans-serif;
}
#search {
  height: 25px;
  outline: none;
  border-radius: 5px;
  border: none;
  margin-right: 5px;
}
.content1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
  margin-top: 40px;
}

.left {
  flex-direction: row-reverse;
}
.leftContent {
  margin: 0 10px;
  margin-left: 20px;
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  h2 {
    margin-bottom: 30px;
  }
}
.contact {
  background-color: #f0eded;
  margin-top: 5vh;
}
.contact {
  height: 500px;
}
.form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  input {
    width: 82%;
    margin: 20px auto;
    height: 32px;
    font-family: 'Oswald', sans-serif;
    padding: 5px;
    border: none;
  }
  input:focus {
    outline-color: rgba(145, 235, 54, 0.959);
  }

  textarea {
    width: 55%;
    margin: auto;
    font-family: 'Oswald', sans-serif;
    padding: 5px;
    border: none;
  }
  textarea:focus {
    outline-color: rgba(145, 235, 54, 0.959);
  }
}
.sub {
  color: black;
  width: 40%;
  margin: auto;
  font-family: 'Oswald', sans-serif;
  margin-top: 10px;
}

.copy {
  background-color: rgb(24, 22, 22);
  height: 55px;
  color: #f0eded;
  display: flex;
  justify-content: center;
  align-items: center;
}
.burger {
  display: none;
  .burgerline {
    height: 4px;

    background-color: #796c6c;
    border-radius: 1px;
    margin: 4px 0px;
  }
  padding: 6px;

  width: 40px;
  height: 40px;
  background: transparent;
  position: fixed;
  top: 7px;
  right: 7px;
}

@media only screen and(max-width:730px) {
  .navbar {
    flex-direction: column;
  }

  .logo {
    position: absolute;
    top: 5px;
    left: 7px;
  }
  .nav-list {
    flex-direction: column;
    li {
      margin: 10px 0px;
    }
    height: 150px;
    overflow: hidden;
  }
  .responsiv {
    height: 0px;
    li {
      display: none;
    }
  }

  .right-nav {
    input {
      width: 130%;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  .burger {
    display: block;
  }
}
